body{
    background-image: url(forestBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;     
}

.tagesschrift-regular {
    font-family: "Tagesschrift", system-ui;
    font-weight: 400;
    font-style: normal;
}

.menu{
    
    color: orange;
    text-align: center;
    font-family: "Tagesschrift", system-ui;
    font-style: normal;
    font-size: 36px;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

button{
    background-color: aqua;
    font-size: 20px;
}
.bunny{
    background-image: url(BunnyRunSide.png);
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    background-size: 1200px;
    animation: walk-across steps(8) linear infinite;
    
}


@keyframes walk-across {
    0% {
        left: -100px;
    }
    100% {
        left: 100vw;
    }
}






