body{
    background-image: url("backgroundImage.jpg");
}

.header{
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 10px;
    height: 20px;
} 

.content{
    padding: 10px;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
    font-size: 50px;
    height: 100px;
}
