footer {
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  color: white;
}

.container li {
  text-align: center;
}

.container ul {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0 0 15px 0;
  list-style: none;
}